<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Welcome</title>
</head>
<body>        

  <%- include("partials/header") %>
  <% if (locals.user) { %>
    <h1>WELCOME BACK <%= user ? user.username : "!" %> 🎉</h1>
    <h3>Hello, <%= user.firstname %> <%= user.lastname %></h3>
    <%- include("partials/posts") %>
  <% } else { %>
    <%- include("partials/login-form") %>
  <% } %>

</body>
</html>
